<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovian Careers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}?v=2">
</head>
<body>
    <nav class="navbar">
        <div class="nav-le">
            <a href="/" class="logo">Jovian</a>
        </div>
        <ul class="nav-links">
            <li><a href="#jobs">Jobs</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <h1 id="mainh">Jovian Careers</h1>

    <div class="hero-about">
        <div class="hero-image">
            <img src="{{ url_for('static', filename='image.avif') }}" alt="Careers">
        </div>

        <div class="about">
            <h2>About Jovian</h2>
            <p>
                Jovian Careers helps people find jobs they love by connecting talent with the right opportunities.
                We focus on skill-based hiring, career growth, and making the job search clear and accessible for everyone.
            </p>
        </div>
    </div>

    <div class="job-openings" id="jobs">
        <h2>Job Openings</h2>

        <div class="job-list">
            {% for job in Jobs %}
            <div class="job-card">
                <div class="job-info">
                    <h4>{{ job.title }}</h4>
                    <p><b>Location:</b> {{ job.location }}</p>
                </div>
                <a
                    href="mailto:medhanaik1409@gmail.com?subject=Application%20for%20{{job['title']}}&body=My%20name%3A%3Cyour%20name%3E%0D%0AMy%20resume%20link%3A%20%3Cresume%20link%3E%0D%0AMy%20linkedin%20link%3A%20%3Clinkedin%20link%3E%0D%0A"
                    class="apply-btn"
                >
                Apply
                </a>

            </div>
            {% endfor %}
        </div>
        <a href="mailto:medhanaik1409@gmail.com?subject=Question%20about%20Openings&body=My%20question%0D%0A" class="contact-btn">Contact Us</a>
    </div>
 
    <footer class="footer">
    <div class="footer-content">
        <p>© 2026 Jovian Careers. All rights reserved.</p>

        <ul class="footer-links">
            <li><a href="#">About</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</footer>



</body>
</html>
